#include "monokey.dtsi"
#include <input/processors.dtsi>

&xiao_serial { status = "disabled"; };

&kscan0 {
    row-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    col-gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>;
};

/ {

/* 1. ドングル側の「受信機」：右手から送られてくる0番のトラックボールデータを受け取る箱 */
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball@0 {
            compatible = "zmk,input-split";
            reg = <0>;
            /* ※ドングルには物理センサーが付いていないので、device = <&trackball>; は書きません */
        };
    };

    /* 2. ドングル側の「翻訳係」：受信機に入ったデータを、PCのマウスの動きとして出力する */
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
/*
        input-processors = 
            <&zip_temp_layer 4 1000>,
            <&zip_xy_scaler 1 1>,
            <&zip_xy_to_scroll_scaler 5 1 1>; /* 第1引数にレイヤー番号を指定 */
*/
        input-processors = <&zip_xy_to_scroll_scaler 1 1>;
    };

};
