#include "monokey.dtsi"

&kscan0 {
    row-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    col-gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>;
};

&xiao_serial { status = "disabled"; };

/ {
    /* オートマウスの心臓部のみ定義 */
    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
    };

    /* ⚠️ 重要：device を書かないことで、
       右手（子機）から届くすべての無線信号を直接フックします */
    trackball_peripheral_listener {
        compatible = "zmk,input-listener";
        input-processors = <&zip_temp_layer 4 1000>;
    };
};
